body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1e1e2f;
    color: #fff;

    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background: #2a2a3a;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

    margin: 40px auto; 
    flex: 1; 
}

h1 {
    color: #4CAF50;
    text-align: center;
}

.chart-container {
    position: relative;
    height: 500px;
    width: 100%;
}

.footer {
    text-align: center;
    padding: 15px 10px;
    color: #aaa;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
        margin: 20px auto;
    }

    .chart-container {
        height: 700px;
    }

    h1 {
        font-size: 20px;
    }
}
